@-moz-document url-prefix(about:blank), url-prefix(about:newtab) {
  html:not(#ublock0-epicker),
  html:not(#ublock0-epicker) body,
  #newtab-customize-overlay {
    background: #1a1d26 !important;
  }
}

:root.theme-dark {
  --theme-body-background: #1a1d26 !important;
  --theme-sidebar-background: #1a1d26 !important;
  --theme-tab-toolbar-background: #1a1d26 !important;
  --theme-toolbar-background: #1a1d26 !important;
  --theme-selection-background: #c5c5c8 !important;
  --theme-selection-color: #1a1d26 !important;
  --theme-body-color: #c5c5c8 !important;
  --theme-body-color-alt: #c5c5c8 !important;
  --theme-content-color1: #c5c5c8 !important;
  --theme-content-color2: #c5c5c8 !important;
  --theme-content-color3: #c5c5c8 !important;
  --theme-highlight-green: #51af94 !important;
  --theme-highlight-blue: #5a9191 !important;
  --theme-highlight-bluegrey: #54bbbe !important;
  --theme-highlight-light-orange: #deaf64 !important;
  --theme-highlight-orange: #de935f !important;
  --theme-highlight-red: #a54253 !important;
  --theme-highlight-pink: #e16571 !important;
  --theme-highlight-purple: #bc7aaf !important;
}