! ---------------!
! HIDPI SETTINGS !
! ---------------!

! dpi and font rendering
Xft.dpi:       192
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull

! cursor
Xcursor.theme: Adwaita
Xcursor.size: 32

! ------!
! FONTS !
! ------!

#define fnt1 NotoSans
#define fnt2 SourceCodePro
#define fntsz1 7
#define fntsz2 14

! its difficult to make general x settings for font sizes on a hidpi display
!  since a lot of applications are scaled (see .profile)

! ---------------------------------!
! FILE INCLUSIONS & COLORS SCHEMES !
! ---------------------------------!

! #include ".xres/themes/solarized_dark_nord_bg_fg"
! #include ".xres/themes/nord"
! #include ".xres/themes/solarized_dark"
! #include ".xres/colors"

! not yet in the proper themes folder because it's a work in progress
#include ".xres/dusty"

! files for specific programs can be loaded from separate files like this
! rofi support for xresources will soon be deprecated though and should move to ~/.config/rofi
! #include ".xres/rofi"

! -------------------------------!
! POLYBAR AND ROFI COLOR SCHEMES !
! -------------------------------!

! custom resources used by polybar and rofi to make gradients
! leave bar.bg blank for transparent background for polybar

bar.width: 2880
bar.height: 35
bar.offsetx: 0
bar.offsety: 0

! rofi does not yet support xoffset as a variable import so this has to do for now
rofi.xoffset: 0
rofi.yoffset: 0

bar.paddinginner: 4.0
bar.paddingouter: 10.0

! leave barbg empty for transparent background
! bar.barbg: 
bar.barbg: #1E252B
bar.barfg: #60d8dee9

bar.bgg1: #1E252B
bar.bgg2: #1E252B
bar.bgg3: #1E252B
bar.bgg4: #1E252B
bar.bgg5: #1E252B
bar.bgg6: #1E252B

! homemade blue grey cyan
!bar.bgg1: #2E3440
!bar.bgg2: #5C6A82
!bar.bgg3: #b6258F86
!bar.bgg4: #a25581CF
!bar.bgg5: #fc5581CF
!bar.bgg6: #5C6A82

! ----------------------------!
! ADDITIONAL CUSTOM RESOURCES !
! ----------------------------!

! these additional custom resources could be in external files as well for easy switching

excol.accent: #deaf64
excol.bg1: blk
excol.bg2: bg
excol.fg1: fg
excol.fg2: wht2
excol.redish: red
excol.font1: fnt1
excol.fontsz1: fntsz1
