* {
accent: #deaf64;
bg2: #151A1E;
fg1: #6e777e;
fg2: #6e777e;
redish: red;
width: 2880;
height: 35;
offsetx: 0;
offsety: 0;
paddinginner: 4.0;
paddingouter: 10.0;
barbg: #000000;
barfg: #6e777e;
bgg1: #151A1E;
bgg2: #151A1E;
bgg3: #151A1E;
bgg4: #151A1E;
bgg5: #151A1E;
bgg6: #151A1E;
font1: "NotoSans 6";
}